@media(max-width: 600px) {
    #app-content {
        width: 90%;

        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .base-article {
        margin: 1em 0;
    }
}
