html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
    font-size: 14px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: coral;
}

.container {
    width: 60%;
    margin: 0 auto;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#app-header {
    height: 6.4em;
    background-color: deepskyblue;
    color: white;
    transition: height 0.2s;
}

#app-header h1 {
    padding: 28px;
    margin: 0;
    transition: font-size 0.2s;
}

#app-header.tall {
    height: 12em;
}

#app-header.tall h1 {
    font-size: 350%;
}

#large-screen-menu core-item {
    margin: 1em;
}

#large-screen-menu core-item.selected {
    font-weight: bold;
    text-decoration: underline;
}

#app-header #small-screen-menu {
    margin: 28px;
    display: none;
}

#small-screen-menu core-item {
    color: #000;
    padding-left: 1em;
    padding-right: 1em;
}

#small-screen-menu core-item.selected {
    font-weight: bold;
}

base-article {
    margin-top: 1em;
}
