@media(max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media(max-width: 600px) {
    #app-header #small-screen-menu {
        display: inline-block;
    }

    #app-header #large-screen-menu {
        display: none;
    }
}
